*{
    font-family: 'Bitter', serif;
}

html {
    cursor: url(images/mira.png) 30 30, auto;
}

body{
    background-image: url(images/game-over.png);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
}



.row{
    margin-top: 605px;
}
.skull1{
    width:60px;
    height:60px;
}

.skull2{
    width:75px;
    height:75px;
}

.skull3{
    width:45px;
    height:45px;
}

.ladoA{
    transform: scaleX(1);
}

.ladoB{
    transform: scaleX(-1);
}

.painel {
	position: absolute;
	width: 190px;
	padding: 10px;
	left: 0px;
	bottom: 0px;
	border-top:solid 1px #fff;
    border-radius: 5px;
	background-color: #fff;
	opacity: 0.7;
}

.vidas {
	float: left;
   
}
.vidas .img{
    width: 50px;
	height: 50px;
}

.cronometro {
	float: left;
	font-size: 20px;
	font-weight: bold;
}